'scopeName': 'source.knockout'
'name': 'KnockoutJs'
'fileTypes': ['HTML', 'phtml']
'patterns': [
    {
        'begin': '<!--( ?)(\/*)ko'
        'captures':
            '0':
                'name': 'punctuation.definition.tag.knockout'
        'end': '--\\s*>'
        'name': 'string.block.knockout'
        'patterns': [
            {
                'match': '--(?!-*\\s*>)'
                'name': 'invalid.illegal.bad-comments-or-CDATA.html'
            }
            {
                'include': '#embedded-code'
            }
        ]
    }
    {'include': 'text.html.basic'}
]
